{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Birthdate</th>
                <th>Nationality</th>
                <th>Photo</th>
                <th>StreetNumber</th>
                <th>StreetType</th>
                <th>StreetName</th>
                <th>Postcode</th>
                <th>City</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Socials</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.birthdate ? user.birthdate|date('Y-m-d') : '' }}</td>
                <td>{{ user.nationality }}</td>
                <td>{{ user.photo }}</td>
                <td>{{ user.streetNumber }}</td>
                <td>{{ user.streetType }}</td>
                <td>{{ user.streetName }}</td>
                <td>{{ user.postcode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.socials ? user.socials|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
